@import "tailwindcss";

@theme {
  --color-primary: #CCFF00;
  --color-background: #020202;
  --color-foreground: #ededed;

  --font-sans: var(--font-montserrat), sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}